.sale-image {
  border-radius: 10px;
  border: 2px solid #D39B68;
  max-width: 100%;
}

.sale-content {
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
}

.shop-button {
  border: 2px solid #D39B68;
  padding: 0.8rem 2rem;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.sale-detail-content{
  letter-spacing: 1px;
}

.shop-button:hover {
  background-color: #D39B68;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  margin: 0;
  padding: 0;
}

.col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Query for Small Devices (Max Width: 768px) */
@media (max-width: 768px) {
  .sale-content {
    text-align: center;
    padding: 1rem;
  }

  .sale-image {
    margin-top: 20px;
  }
}

/* Media Query for Extra Small Devices (Max Width: 576px) */
@media (max-width: 576px) {
  .sale-content {
    padding: 1rem;
  }

  .sale-image {
    height: 200px;
    border-radius: 8px;
    margin-top: 15px;
  }
}
